<!DOCTYPE html x-data="{ open: false }">
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>

    <div class="container mt-3">
      <h1 class="mb-4">Add New Post</h1>
      <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            placeholder="Enter title"
          />
        </div>
        <div class="mb-3">
          <label for="coverImage" class="form-label">coverImage</label>
          <input
            type="file"
            class="form-control"
            id="coverImage"
            name="coverImage"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Body</label
          >
          <textarea
            class="form-control"
            name="body"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
    <%- include('./partials/scripts') %>
  </body>
</html>
